name: instance
period: 120 # in seconds
logger: PerfDigest

# By default, export prometheus metrics on http://0.0.0.0:3162/metrics
# listen_address: 0.0.0.0
# listen port: 3162

# Optional, Loki URL to send logs to
loki:
  url: http://loki:3100/loki/api/v1/push

instances:
  - name: instance
    host: localhost
    port: 3306
    user: logger
    pass: password
  - name: another-instance
    host: another-host
    port: 3306
    user: logger
    pass: password

mysql:
  query: "SELECT COALESCE(SCHEMA_NAME, 'None') AS SCHEMA_NAME, DIGEST, DIGEST_TEXT, COUNT_STAR, SUM_TIMER_WAIT, MIN_TIMER_WAIT/1000000000 AS SUM_TIMER_WAIT, AVG_TIMER_WAIT, MAX_TIMER_WAIT, SUM_LOCK_TIME, SUM_ERRORS, SUM_WARNINGS, SUM_ROWS_AFFECTED
    , SUM_ROWS_SENT, SUM_ROWS_EXAMINED, SUM_CREATED_TMP_DISK_TABLES, SUM_CREATED_TMP_TABLES, SUM_SELECT_FULL_JOIN, SUM_SELECT_FULL_RANGE_JOIN, SUM_SELECT_RANGE, SUM_SELECT_RANGE_CHECK
    , SUM_SELECT_SCAN, SUM_SORT_MERGE_PASSES, SUM_SORT_RANGE, SUM_SORT_ROWS, SUM_SORT_SCAN, SUM_NO_INDEX_USED, SUM_NO_GOOD_INDEX_USED, FIRST_SEEN, LAST_SEEN, QUANTILE_95, QUANTILE_99
    , QUANTILE_999, QUERY_SAMPLE_TEXT, QUERY_SAMPLE_SEEN, QUERY_SAMPLE_TIMER_WAIT FROM performance_schema.events_statements_summary_by_digest WHERE DIGEST_TEXT LIKE 'SELECT%' OR DIGEST_TEXT LIKE 'UPDATE%'
    OR DIGEST_TEXT LIKE 'INSERT%'
    OR DIGEST_TEXT LIKE 'CALL%'
    OR DIGEST_TEXT LIKE 'SET%'"
  log_column: DIGEST_TEXT
  extra_tags:
    - SCHEMA_NAME
    - DIGEST
    - COUNT_STAR
    - SUM_TIMER_WAIT
    - MIN_TIMER_WAIT
    - AVG_TIMER_WAIT
    - MAX_TIMER_WAIT
    - SUM_LOCK_TIME
    - SUM_ERRORS
    - SUM_WARNINGS
    - SUM_ROWS_AFFECTED
    - SUM_ROWS_SENT
    - SUM_ROWS_EXAMINED
    - SUM_CREATED_TMP_DISK_TABLES
    - SUM_CREATED_TMP_TABLES
    - SUM_SELECT_FULL_JOIN
    - SUM_SELECT_FULL_RANGE_JOIN
    - SUM_SELECT_RANGE
    - SUM_SELECT_RANGE_CHECK
    - SUM_SELECT_SCAN
    - SUM_SORT_MERGE_PASSES
    - SUM_SORT_RANGE
    - SUM_SORT_ROWS
    - SUM_SORT_SCAN
    - SUM_NO_INDEX_USED
    - SUM_NO_GOOD_INDEX_USED
    - FIRST_SEEN
    - LAST_SEEN
    - QUANTILE_95
    - QUANTILE_99
    - QUANTILE_999
    - QUERY_SAMPLE_TIMER_WAIT
